<link rel="stylesheet" href="/stylesheets/header.css" />

<nav class="navbar-container">
    <span class="navbar-logo">
        <a href="/" class="navbar-logo-link"
            ><i class="fa-solid fa-table-list"></i> Todo Daily
        </a>
    </span>
    <ul class="navbar-nav">
        <li class="navbar-nav-item">
            <span class="navbar-link"
                ><%= user?.username? user.username: 'User Name' %></span
            >
        </li>
        <li class="navbar-nav-item">
            <a href="/auth/signout" class="navbar-link">Logout</a>
        </li>
    </ul>
</nav>
