<link rel="stylesheet" href="/stylesheets/navbar.css" />

<nav class="navbar-container">
    <span class="navbar-logo">
        <a class="navbar-logo-link"> Todo Daily </a>
    </span>
    <ul class="navbar-nav">
        <li class="navbar-nav-item">
            <a class="navbar-link">Login</a>
        </li>
        <li class="navbar-nav-item">
            <a class="navbar-link">Sign Up</a>
        </li>
    </ul>
</nav>
