<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
    </head>
    <body>
        <%- include('components/navbar') -%>
        <div class="hero-container">
            <h1 class="hero-heading">
                Organizing your daily activity<br />with Todo Daily
            </h1>
            <a class="hero-btn">Get Started</a>
        </div>
    </body>
</html>
