<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo Daily - Tasks</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/tasks.css" />
    </head>
    <body>
        <%- include('components/header') -%>
        <div class="tasks-container">
            <h1 class="tasks-heading">Tasks</h1>
            <span class="tasks-subheading">4/6 completed</span>
            <ul class="tasks-list">
                <% tasks.forEach((task) => { %>
                <li class="tasks-list-item">
                    <input type="checkbox" class="task-check-btn" />
                    <span class="task">
                        <div class="task-info">
                            <span class="task-title"><%= task.title %></span>
                            <p class="task-description">
                                <%= task.description %>
                            </p>
                        </div>
                        <span class="task-actions">
                            <form action="/tasks/delete" method="post">
                                <input
                                    style="display: none"
                                    type="text"
                                    name="taskID"
                                    value="<%= task.id %>"
                                />
                                <button type="submit" class="task-action-btn">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </span>
                    </span>
                </li>
                <% }) %>
            </ul>
            <form class="task-form" action="/tasks" method="post">
                <input
                    type="text"
                    class="task-form-field-input"
                    name="title"
                    placeholder="Task Title"
                />
                <textarea
                    class="task-form-field-input"
                    name="description"
                    placeholder="Task Description (Optional)"
                ></textarea>
                <button class="task-form-submit" type="submit">
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
            </form>
        </div>
    </body>
</html>
