<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo Daily - Tasks</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/tasks.css" />
    </head>
    <body>
        <%- include('components/header') -%>
        <div class="tasks-container">
            <h1 class="tasks-heading">Tasks</h1>
            <span class="tasks-subheading">4/6 completed</span>
            <ul class="tasks-list">
                <li class="tasks-list-item">
                    <input type="checkbox" class="task-check-btn" />
                    <span class="task">
                        <div class="task-info">
                            <span class="task-title">Task1</span>
                            <p class="task-description">
                                Aliquip non eiusmod Lorem duis qui magna
                                cupidatat Lorem culpa et ea velit laborum.
                            </p>
                        </div>
                        <span class="task-actions">
                            <span class="task-action-btn"
                                ><i class="fa-solid fa-trash"></i
                            ></span>
                        </span>
                    </span>
                </li>
                <li class="tasks-list-item">
                    <input type="checkbox" class="task-check-btn" />
                    <span class="task">
                        <div class="task-info">
                            <span class="task-title">Task1</span>
                            <p class="task-description">
                                Aliquip non eiusmod Lorem duis qui magna
                                cupidatat Lorem culpa et ea velit laborum.
                                Aliquip non eiusmod Lorem duis qui magna
                                cupidatat Lorem culpa et ea velit laborum.
                                Aliquip non eiusmod Lorem duis qui magna
                                cupidatat Lorem culpa et ea velit laborum.
                                Aliquip non eiusmod Lorem duis qui magna
                                cupidatat Lorem culpa et ea velit laborum.
                            </p>
                        </div>
                        <span class="task-actions">
                            <span class="task-action-btn"
                                ><i class="fa-solid fa-trash"></i
                            ></span>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </body>
</html>
